<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.evendanan.rewrite_lib">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <provider
            android:name=".MyContentProvider"
            android:authorities="${applicationId}.MyContentProvider"
            android:enabled="true"
            android:exported="false">
        </provider>
    </application>

</manifest>
